{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <form method="post">
        <div class="row mt-25">
            <div class="col-md-12">
                <div class="control-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ gettext('input') }}</h3>
                        </div>
                        <div class="panel-body">
                            <p><textarea class="form-control" rows="10" name="inputText"
                                         placeholder="Enter text">{{ _input }}</textarea></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="radio" name="mode" value="radiobutton1" id="radiobutton1"
                            {% if form_options["radio"] == 'radiobutton1' or not is_post %}
                           checked {% endif %}>
                    <label for="radiobutton1">{{ gettext('radiobutton1') }}</label><br>
                    <input type="radio" name="mode" value="radiobutton2" id="radiobutton2"
                            {% if form_options["radio"] == 'radiobutton2' %} checked {% endif %}>
                    <label for="radiobutton2">{{ gettext('radiobutton2') }}</label><br>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="center button-primary">{{ gettext("button") }}</button>
        </div>
    </form>

    {% if is_post %}
        <div class="row">
            <div class="col-md-12">
                <div class="control-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ gettext("results") }}</h3>
                        </div>
                        <div class="panel-body">
                            <p><textarea class="form-control" rows="10" id="outputText" placeholder="Recognized text"
                                         readonly>{% if is_post %}{{ output_text }}{% endif %}</textarea></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
